:root {
  --Cyan: hsl(180, 66%, 49%);
  --Dark-Violet: hsl(257, 27%, 26%);
  --Gray: hsl(0, 0%, 75%);
  --Grayish-Violet: hsl(257, 7%, 63%);
  --Very-Dark-Blue: hsl(255, 11%, 22%);
  --Very-Dark-Violet: hsl(260, 8%, 14%);
  --width: 90%;

}

/* Animation */
@keyframes openMenu {
  to {
    height: 40vh;
  }
  from {
    height: 0;
    display: block;
  }
}


/* rem respecto al body */

h1 {
  color: #423f46;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  font-size: 16px;
  overflow-x: hidden;
}

.menu {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.line {
  width: 90%;
  height: .4px;
  background-color: rgba(255, 255, 255, .3);
  margin: auto;
}

.img-responsive {
  width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

@media screen and (min-width: 375px) {
  /* Estilos al icono */
  .material-icons {
    font-size: 40px;
    color: #9d9ca4;
  }

  /* Estilos al header */

  .header-site {
    display: grid;
    width: var(--width);
    margin: 20px auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .header-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  /* Estilos al menu del header */

  .slider {
    display: none;
    position: fixed;
    margin: 30% auto;
    width: 90%;
    height: 40vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3a3053;
    border-radius: 12px;
    font-size: 22px;
    transition: all ease .3s;
    z-index: 5;
  }

  .slider.active {
    display: block;
    /* transition: all .3s ease; */
    animation: openMenu .3s ease-in forwards;
  }

  /* Lista de navegación del header */

  .list-nav {
    padding: 0;
  }
  
  .list-nav-element{
    color: #fff;
    font-family: 'Poppins';
    font-size: .8em;
    margin-top: 1em;
    text-align: center;
    list-style: none;
  }
  
  /* Estilos al login */
  
  .login {
    margin: 12px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .btn-primary {
    color: #fff;
    background-color: transparent;
    font-size: 1em;
    outline: none;
    border: none;
    margin: 0 0 .8em 0;
    font-weight: 700;
    font-family: 'Poppins';
  }
  
  .btn-secondary {
    background-color: var(--Cyan);
    outline: none;
    border: none;
    padding: 12px;
    margin: auto;
    border-radius: 22px;
    width: 90%;
    color: #fff;
    font-size: .8em;
    font-weight: 700;
    font-family: 'Poppins';
  }

  .description {
    width: 90%;
    margin: auto;
  }

  figure img {
    width: 150%;
    height: auto;
  }

}